<a href="https://colab.research.google.com/github/iamksseo/colab/blob/master/parquet_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reading and Writing the Apache Parquet Format
* Ref -> https://arrow.apache.org/docs/python/parquet.html

### Obtaining pyarrow with Parquet Support

In [1]:
import pyarrow.parquet as pq

### Reading and Writing Single File

In [5]:
import numpy as np
import pandas as pd
import pyarrow as pa

df = pd.DataFrame({'one': [-1, np.nan, 2.5],
                   'two': ['foo', 'bar', 'baz'],
                   'three': [True, False, True]},
                  index=list('abc'))
print(df) #

table = pa.Table.from_pandas(df)

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True

In [6]:
pq.write_table(table, 'example.parquet')

table2 = pq.read_table('example.parquet')
table2.to_pandas()

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True

In [7]:
table3 = pq.read_table('example.parquet', columns=['one', 'three'])
print(table3.to_pandas())

   one  three
0 -1.0   True
1  NaN  False
2  2.5   True